-i https://pypi.org/simple
alembic==*;  
aniso8601==*
blinker==*; 
click==*; 
flask==* 
flask-migrate==*; 
flask-restful==*
flask-sqlalchemy==*; 
greenlet==*; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
gunicorn==*; 
itsdangerous==*; 
jinja2==*; 
mako==*;  
markupsafe==*;  
packaging==23.1;  
psycopg2-binary==*;  
pytz==2023.3.post1
six==*; 
sqlalchemy==*;  
sqlalchemy-serializer==*
typing-extensions==*;  
werkzeug==*;  

